
.title-area {
    margin-bottom: 40px;

    .intro-info {
        .name, .work {
            text-align: center;
        }
    }
}


.work-area-title {
    margin: 10px 0px 20px 0px;
    // text-align: center;
}


.project-area {
    max-width: 780px;
    margin: auto;
    margin-bottom: 20px;

    .small-display-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .project-title {
        font-weight: 550;
        font-size: large;
        
        &:hover {
            text-decoration: underline;
            color: rgb(0, 88, 181);
            cursor: pointer;
        }
    }

    .image-area {
        cursor: pointer;
    }

    .info-area {
        .action-area {
            max-width: 300px;
        
            margin: 20px 0px;
            button {
                margin-left: 10px;
            }

            .live-preview {
                background-image: linear-gradient(135deg, #741d03 0%, #040463 24%, #7a0000 49%, #2e047c 75%, #990303 100%);
                color: white;

                &:disabled {
                    background: rgb(211, 211, 211);
                    color: rgb(126, 126, 126);
                }
            }

            .view-code {
                background-image: linear-gradient(135deg, #050374 0%, #a10e0e 24%, #04125b 49%, #a30505 75%, #830505 100%);
                color: white;
                &:disabled {
                    background: rgb(211, 211, 211);
                    color: rgb(126, 126, 126);
                }

            }
        }

        .details-area {
            text-align: justify;
        }
    }
}

.jump-portfolio-button-area {
    margin: auto;
    max-width: 170px;
    margin-top: 100px;
    margin-bottom: 100px;

    .jump-portfolio-button {
    
        &:hover {
            color:rgb(117, 191, 5);
        }
    }
}



