<ngx-charts-bar-horizontal 
    [results]="skills"
    [view]="configuration.view"
    [scheme]="configuration.scheme"
    [animations]="configuration.animations"
    [legend]="configuration.legend"
    [legendTitle]="configuration.legendTitle"
    [legendPosition]="configuration.legendPosition"
    [xAxis]="configuration.xAxis"
    [yAxis]="configuration.yAxis"
    [showGridLines]="configuration.showGridLines"
    [roundDomains]="configuration.roundDomains"
    [showXAxisLabel]="configuration.showXAxisLabel"
    [showYAxisLabel]="configuration.showYAxisLabel"
    [xAxisLabel]="configuration.xAxisLabel"
    [yAxisLabel]="configuration.yAxisLabel"
    [trimXAxisTicks]="configuration.trimXAxisTicks"
    [trimYAxisTicks]="configuration.trimYAxisTicks"
    [rotateXAxisTicks]="configuration.rotateXAxisTicks"
    [maxXAxisTickLength]="configuration.maxXAxisTickLength"
    [maxYAxisTickLength]="configuration.maxYAxisTickLength"
    [showDataLabel]="configuration.showDataLabel"
    [noBarWhenZero]="configuration.noBarWhenZero"
    [gradient]="configuration.gradient"
    [barPadding]="configuration.barPadding"
    [tooltipDisabled]="configuration.tooltipDisabled"
    [xScaleMax]="configuration.xScaleMax"
    
    ></ngx-charts-bar-horizontal>